* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add{
    display: flex;
}



.add span{
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: inline;
    padding-top: 22px;
    margin-left: 37px;
}


.player-input{
    border-collapse: collapse;
    width: 150px;
    height: 55px;
    border: 1px solid #ddd;
    display: flex;
    font-size: 17px;
    margin: 15px ;
    padding: 10px;
    background-color: #b7cadd;
    color: #1a150e;
    
}

.player-btn{
    outline: none;
    padding-left: 0px;
    font-size: 17px;
    width: 81px;
    height: 42px;
    margin-top: 22px;
    background: rgb(62 143 147);
    border : 4px rgb(16, 82, 93) solid;
    margin-left: 15px;
    color: aliceblue;
}

.players div{
    height: 35px;
    margin: 20px auto;
}

.name{
    width: 70px;
    font-family: 'Lato', sans-serif;
    margin: auto 20px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.money{
    width: 60px;
    margin: auto 10px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.players div button{
    padding-top: 2px;
    height: 100%;
    background: rgb(65, 166, 197);
    font-size: 20px;
    width: 70px;
    border: rgb(92 48 40 / 43%) solid;
}

.players .cais {
    background: #AEB1B4;
}

.fa-solid .fa-check{
    font-size: 15px;
}

.players div button:hover{
    color:#f8b66a;
    background: rgb(6, 44, 56);
    border-bottom: black;
    /* border: rgb(92 48 40 / 43%) solid; */
}

.article {
    background-image: url(1.jpg) 100px;
    width: 100%;
    height: 100%;
}

.addplayer-name{
    border-collapse: collapse;
    width: 150px;
    height: 55px;
    border: 1px solid #ddd;
    display: inline;
    margin: 10px 12px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    background-color: #b7cadd;
}

.addplayer-btn{
    width: 81px;
    height: 42px;
    background: rgb(62 143 147);
    border : 4px rgb(16, 82, 93) solid;
    font-size: 17px;
    color: aliceblue;
    margin-left: 15px;
    display: inline;
}
.delplayer-btn{
    width: 81px;
    height: 42px;
    background: rgb(231, 62, 62);
    border : 4px rgb(0, 0, 0) solid;
    font-size: 17px;
    color: rgb(255, 240, 240);
    margin-left: 15px;
    display: inline;
}

.weight-color{
    background-color: #AEB1B4;
}

.text{
    text-align: center;
}

.td{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.th{
    font-family: 'Lato', sans-serif;
}

.addplayer-btn:hover{
    color: #1a150e;
}

.history{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #125480;
    margin-left: 10px;
    text-decoration: underline;
}